# Generic ignores
*.o
*~
*.a
.gdb_history
core
vgcore.*
*.sr.orig
.*.swp
*.sr.orig
*.pyc

# Buildsystem (scons) ignores
.sconsign.dblite
.build

# IDE (KDevelop 4) ignores
*kdev*

# Valgrind file ignores
valgrind.*

# gprof ignores
gmon.out
profile.*

# Aesalon configuration files
.aesalon.conf

# Aesalon log files
*.alog

# Local ignores
musings/
output*