# Generic ignores
*.o
*~
*.a
.gdb_history
core
vgcore.*
*.sr.orig 
.*.swp
*.sr.orig

# Buildsystem (scons) ignores
.sconsign.dblite

# IDE (Eclipse CDT) ignores
.project
.cdtproject
.settings

# Valgrind file ignores
valgrind.*

# gprof ignores
gmon.out
profile.*

# Aesalon configuration files
.aesalon.conf

# Aesalon log files
*.alog

# Local ignores
musings/

