# Generic ignores
*.o
*~
*.a
*.so
.gdb_history
core
*.sr.orig

# Buildsystem (CMake) ignores
CMakeFiles
CMakeCache.txt
cmake_install.cmake
Makefile
version_info
install
install_manifest.txt

# IDE (KDevelop 4) ignores
*kdev*

# Executable ignores
src/monitor/aesalon

# Generated documentation (doxygen) ignores
doc/html*

# Valgrind file ignores
valgrind.*

