# This is the build configuration file for Aesalon. Modify to suit your needs.

# The version of Aesalon. Change if you're modifying it yourself,
# otherwise leave it alone. Unless you want to compile version -1.0 of
# Aesalon . . .
set(aesalonVersion "0.3.0-predev")

# Is this a development build? Dev builds have debugging information and also
# some more verbose status messages. Use if you are developing Aesalon or
# trying to track down a bug.
set(devBuild true)

# platform can be:
# - x86, for Intel-compatible x86 platforms.
# - x86_64, for x86_64 compatible platforms.
set(platform x86_64)

# Run-time configuration file locations. Used to set default options and
# module search paths.
set(globalConfig "/etc/default/aesalon.conf")
set(userConfig "~/.config/aesalon/aesalon.conf")
set(localConfig ".aesalon.conf")

