# General configuration

# The default path to libc
set(LIBC_PATH "/lib/libc.so.6")
# The default TCP port to use
set(DEFAULT_PORT 6321)

# Build configuration

# If DEVELOPMENT_BUILD is true, then aesalon will output a lot of debugging
# information
set(DEVELOPMENT_BUILD true)
# If PROFILE_BUILD is true, then aesalon will be compiled with -pg, to
# produce profiling information
set(PROFILE_BUILD true)

# Build the monitor?
set(BUILD_MONITOR true)
# Build the GUI?
set(BUILD_GUI true)

# Only applicable if the monitor is being built
# AESALON_PLATFORM can be:
#   0: linux x86
#   1: linux x86-64 (sometimes known as amd64)
set(AESALON_PLATFORM        1)

