# General configuration

# The default path to libc.
set(LIBC_PATH "/lib/libc.so.6")
# The default TCP port to use.
set(DEFAULT_PORT 6321)

# The directory-specific config file path.
set(DIR_CONFIG_PATH ".aesalon.conf")
# The default user-specific config file path.
set(USER_CONFIG_PATH "~/.config/aesalon/aesalon.conf")
# The default system-wide config file path.
set(SYS_CONFIG_PATH "/etc/default/aesalon")

# Build configuration

# If DEVELOPMENT_BUILD is true, then aesalon will output some debugging
# information, and behave slightly differently. Such information and behaviour
# may slow down performance, however.
set(DEVELOPMENT_BUILD true)
# If PROFILE_BUILD is true, then aesalon will be compiled with -pg, to
# produce profiling information.
set(PROFILE_BUILD false)
# If USE_OVERLOAD_LIBRARY is true, then LD_PRELOAD will be used to gather
# allocation data. If your platform does not support LD_PRELOAD, or if you
# wish to not use it for other reasons, disable this. Note that not using
# the overload library may result in a very large performance hit.
#
# NOTE: currently, the overload library is the only method of gathering data.
# Do not disable it.
set(USE_OVERLOAD_LIBRARY true)

# Build the monitor?
set(BUILD_MONITOR true)
# Build the GUI?
set(BUILD_GUI true)
# Build the sample programs?
set(BUILD_TESTS true)

# Only applicable if the monitor is being built.
# AESALON_PLATFORM can be:
#   0: linux x86
#   1: linux x86-64 (sometimes known as amd64)
set(AESALON_PLATFORM        1)

